<form action="/users/signin" method="post">
  <div>
    <label for="user">Username:</label>
    <input type="text" name="user">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <button type="submit">Sign in</button>
</form>
